In [142]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [143]:
#Now I'm going to take the data from 2010-2017 
data2011=pd.read_csv("Data/mls-salaries-2011.csv")
data2012=pd.read_csv("Data/mls-salaries-2012.csv")
data2013=pd.read_csv("Data/mls-salaries-2013.csv")
data2014=pd.read_csv("Data/mls-salaries-2014.csv")
data2015=pd.read_csv("Data/mls-salaries-2015.csv")
data2016=pd.read_csv("Data/mls-salaries-2016.csv")
data2017=pd.read_csv("Data/mls-salaries-2017.csv")

In [144]:
#Put all the dataframes into an array
dataArray=[data2011, data2012, data2013, data2014, data2015, data2016, data2017]

In [145]:
year=2011
for data in dataArray:
    data['year']=year
    year=year+1

In [146]:
#Add all the data to the data array
allData=pd.concat(dataArray)

In [147]:
#Import all of the extra data
extraData=pd.read_csv("Data/extraData.csv")

In [148]:

extraData['last_name']=extraData['Last']
extraData['first_name']=extraData['First']
extraData['year']=extraData['Season']
extraData=extraData.drop('Season', 1)
extraData=extraData.drop('Last', 1)
extraData=extraData.drop('First', 1)
extraData=extraData.drop('Player',1)
extraData=extraData.drop('Team',1)

In [149]:
allData.dtypes

club                        object
last_name                   object
first_name                  object
position                    object
base_salary                float64
guaranteed_compensation    float64
year                         int64
dtype: object

In [150]:
allData=pd.merge(allData, extraData, on=['first_name', 'last_name', 'year'])

In [151]:
allData.shape

(2721, 26)

In [154]:
print(type(allData))
#This consolidates the positions somewhat
allData['position']=allData['position'].str.replace('F/M', 'F')
allData['position']=allData['position'].str.replace('F-M', 'F')
allData['position']=allData['position'].str.replace('M/F', 'M')
allData['position']=allData['position'].str.replace('M-F', 'M')
allData['position']=allData['position'].str.replace('M-D', 'M')
allData['position']=allData['position'].str.replace('MF', 'M')
allData['position']=allData['position'].str.replace('M/D', 'M')
allData['position']=allData['position'].str.replace('D/M', 'D')
allData['position']=allData['position'].str.replace('D-M', 'D')
allData['position']=allData['position'].str.replace('D/F', 'D')

<class 'pandas.core.frame.DataFrame'>

(1061, 26)